.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo {
    width: max(10%, 80px);
}

.navbar-profile {
    position: relative;
}

.navbar-profile .profile {
    width: 40px;
    cursor: pointer;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.nav-profile-dropdown img {
    width: 20px;
}

.nav-profile-dropdown li:hover {
    color: tomato;
}